
<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="renderer" content="webkit">
<title>88影视网-在线电影-最新电影-免费电影-电影在线观看</title>
<meta name="keywords" content="在线电影,最新电影,免费电影,电影在线观看" />
<meta name="description" content="88影视网每天搜集互联网最新电影和电视剧，为广大用户免费提供无广告在线观看电影和电视剧服务，及时收录最新、最热、最全的电影大片,高清正版免费看。" />
<meta name="mobile-agent" content="format=html5;url=https://m.88ys.cc/" />
<link rel="alternate" media="only screen and(max-width: 640px)" href="https://m.88ys.cc/" />
<link rel="stylesheet" type="text/css" href="/template/pc88ysw/css/style.css" />
<script>var SitePath='/',SiteAid='10',SiteTid='',SiteId='';</script>
<script type="text/javascript" src="https://cdn.staticfile.org/jquery/1.4.4/jquery.min.js"></script>
<script type="text/javascript" src="/template/pc88ysw/js/common.js"></script>
<script type="text/javascript" src="/template/pc88ysw/js/homeindex.js"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="/template/pc88ysw/js/html5shiv.min.js"></script>
<script type="text/javascript" src="/template/pc88ysw/js/respond.min.js"></script>
<![endif]-->
</head>
<body>
<div class="header-all">
  <div class="top clearfix">
    <ul class="logo"><a href="https://www.88ys.cc/" target="_self"><img src="/template/pc88ysw/Images/logo.png" alt="88影视网"></a></ul>
    <ul class="top-nav">
      <li><a href="https://www.88ys.cc/" title="首页" class="on" class="now" target="_self">首页</a></li>

      <li class="" _t_nav="topnav-1"><a href="https://www.88ys.cc/vod-type-id-1-pg-1.html" title="电影" target="_self">电影<i class="sjbgs"></i><i class="sjbgx"></i></a></li>

      <li class="" _t_nav="topnav-2"><a href="https://www.88ys.cc/vod-type-id-2-pg-1.html" title="电视剧" target="_self">电视剧<i class="sjbgs"></i><i class="sjbgx"></i></a></li>

      <li class="" _t_nav="topnav-3"><a href="https://www.88ys.cc/vod-type-id-3-pg-1.html" title="综艺" target="_self">综艺<i class="sjbgs"></i><i class="sjbgx"></i></a></li>

      <li class="" _t_nav="topnav-4"><a href="https://www.88ys.cc/vod-type-id-4-pg-1.html" title="动漫" target="_self">动漫<i class="sjbgs"></i><i class="sjbgx"></i></a></li>

<li><a href="https://www.88ys.cc/zhibo.html" title="电视直播" target="_self">电视直播</a></li>
<li><a href="https://www.88ys.cc/gbook-show-pg-1.html" title="求片留言" target="_self">求片留言</a></li>
    </ul>
	    <ul class="search so">
<form action="/index.php?m=vod-search" method="post">
        <input type="text" id="wd" name="wd" class="input" onblur="if(this.value==''){ this.value='请输入影片或演员名';this.style.color='#cfcdcd';}" onfocus="if(this.value=='请输入影片或演员名'){this.value='';this.style.color='';}" value="请输入影片或演员名" />
        <input type="submit" name="submit" class="imgbt" value="" />
      </form>
    </ul>
    <ul class="nav-qt aa">
<style>#history_box{left:-60px!important}</style>
      <li class="bb"><strong class="ma" id="history"><i class="jl"></i>历史记录</strong></li>
	  </ul>
<ul class="sj-navhome">请把浏览器模式改成手机模式,以免影响正常观看！</ul>
</div>
<div class="nav-down clearfix">
<div id="topnav-1" class="nav-down-1" style="display:none;" _t_nav="topnav-1">
<div class="nav-down-2 clearfix"><ul>

      <li><a href="https://www.88ys.cc/vod-type-id-5-pg-1.html" title="动作片" target="_self">动作片</a></li>

      <li><a href="https://www.88ys.cc/vod-type-id-6-pg-1.html" title="喜剧片" target="_self">喜剧片</a></li>

      <li><a href="https://www.88ys.cc/vod-type-id-7-pg-1.html" title="爱情片" target="_self">爱情片</a></li>

      <li><a href="https://www.88ys.cc/vod-type-id-8-pg-1.html" title="科幻片" target="_self">科幻片</a></li>

      <li><a href="https://www.88ys.cc/vod-type-id-9-pg-1.html" title="恐怖片" target="_self">恐怖片</a></li>

      <li><a href="https://www.88ys.cc/vod-type-id-10-pg-1.html" title="剧情片" target="_self">剧情片</a></li>

      <li><a href="https://www.88ys.cc/vod-type-id-11-pg-1.html" title="战争片" target="_self">战争片</a></li>

      <li><a href="https://www.88ys.cc/vod-type-id-17-pg-1.html" title="纪录片" target="_self">纪录片</a></li>

      <li><a href="https://www.88ys.cc/vod-type-id-18-pg-1.html" title="冒险片" target="_self">冒险片</a></li>

      <li><a href="https://www.88ys.cc/vod-type-id-19-pg-1.html" title="悬疑片" target="_self">悬疑片</a></li>

      <li><a href="https://www.88ys.cc/vod-type-id-20-pg-1.html" title="犯罪片" target="_self">犯罪片</a></li>

      <li><a href="https://www.88ys.cc/vod-type-id-26-pg-1.html" title="惊悚片" target="_self">惊悚片</a></li>

      <li><a href="https://www.88ys.cc/vod-type-id-27-pg-1.html" title="动画片" target="_self">动画片</a></li>

      <li><a href="https://www.88ys.cc/vod-type-id-16-pg-1.html" title="微电影" target="_self">微电影</a></li>

      <li><a href="https://www.88ys.cc/vod-type-id-25-pg-1.html" title="其他片" target="_self">其他片</a></li>

</ul></div></div>
<div id="topnav-2" class="nav-down-1" style="display:none;" _t_nav="topnav-2">
<div class="nav-down-2 clearfix">
<ul>

      <li><a href="https://www.88ys.cc/vod-type-id-12-pg-1.html" title="国产剧" target="_self">国产剧</a></li>

      <li><a href="https://www.88ys.cc/vod-type-id-13-pg-1.html" title="港台剧" target="_self">港台剧</a></li>

      <li><a href="https://www.88ys.cc/vod-type-id-14-pg-1.html" title="日韩剧" target="_self">日韩剧</a></li>

      <li><a href="https://www.88ys.cc/vod-type-id-15-pg-1.html" title="欧美剧" target="_self">欧美剧</a></li>

      <li><a href="https://www.88ys.cc/vod-type-id-29-pg-1.html" title="其他剧" target="_self">其他剧</a></li>

</ul></div></div><div id="topnav-3" class="nav-down-1" style="display:none;" _t_nav="topnav-3">
<div class="nav-down-2 clearfix"><ul>

</ul></div></div>
<div id="topnav-4" class="nav-down-1" style="display:none;" _t_nav="topnav-4">
<div class="nav-down-2 clearfix"><ul>

      <li><a href="https://www.88ys.cc/vod-type-id-30-pg-1.html" title="国产动漫" target="_self">国产动漫</a></li>

      <li><a href="https://www.88ys.cc/vod-type-id-31-pg-1.html" title="日本动漫" target="_self">日本动漫</a></li>

      <li><a href="https://www.88ys.cc/vod-type-id-32-pg-1.html" title="欧美动漫" target="_self">欧美动漫</a></li>

      <li><a href="https://www.88ys.cc/vod-type-id-33-pg-1.html" title="其他动漫" target="_self">其他动漫</a></li>

</ul></div></div>
<div id="topnav-5" class="nav-down-1" style="display:none;" _t_nav="topnav-5">
<div class="nav-down-2 clearfix"><ul>

      <li><a href="https://www.88ys.cc/vod-type-id-1-pg-1.html" title="电影" target="_self">电影</a></li>

      <li><a href="https://www.88ys.cc/vod-type-id-2-pg-1.html" title="电视剧" target="_self">电视剧</a></li>

      <li><a href="https://www.88ys.cc/vod-type-id-3-pg-1.html" title="综艺" target="_self">综艺</a></li>

      <li><a href="https://www.88ys.cc/vod-type-id-4-pg-1.html" title="动漫" target="_self">动漫</a></li>

</ul></div></div>
 <div id="topnav-6" class="nav-down-1" style="display:none;" _t_nav="topnav-6">
<div class="nav-down-2 clearfix"><ul>

      <li><a href="https://www.88ys.cc/vod-type-id-1-pg-1.html" title="电影" target="_self">电影</a></li>

      <li><a href="https://www.88ys.cc/vod-type-id-2-pg-1.html" title="电视剧" target="_self">电视剧</a></li>

      <li><a href="https://www.88ys.cc/vod-type-id-3-pg-1.html" title="综艺" target="_self">综艺</a></li>

      <li><a href="https://www.88ys.cc/vod-type-id-4-pg-1.html" title="动漫" target="_self">动漫</a></li>

        </ul>
</div>
</div>
</div>
</div>
<div class="topone clearfix"></div>
<div class="leaveNavInfo">
<script src="/template/pc88ysw/ads/quanzhantonglan.js"></script>
</div>
<div class="channel-hide">
<div class="Tag_item" id="tv-directory">
<div class="main">
<div class="index-tj clearfix">
<div class="index-tj-l">
<h2 class="title index-color clearfix">最新热门影片推荐</h2>
<ul>

    <li class="p2 m1  "><a href="/guochanju/201908/64995.html" title="陆战之王" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2019-08/156684600122655109.jpg" alt="陆战之王" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">陆战之王</p><p class="actor">陈晓,王雷,吴樾,张雅钦</p><p class="actor">国产剧</p><p class="actor">2019/大陆</p></span><p class="other"><i>更新至38集</i></p></a>
    </li>

    <li class="p2 m1  "><a href="/guochandongman/201908/64903.html" title="斗罗大陆" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2018-01/156463206966589138.jpg" alt="斗罗大陆" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">斗罗大陆</p><p class="actor">沈磊,程玉珠,黄翔宇,王肖兵,倪康,赵乾景,吴磊,张琦,秦紫翼</p><p class="actor">国产动漫</p><p class="actor">2018/大陆</p></span><p class="other"><i>更新至69集</i></p></a>
    </li>

    <li class="p2 m1 mmr0 "><a href="/guochanju/201908/65081.html" title="老酒馆" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2019-08/156692640453771606.jpg" alt="老酒馆" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">老酒馆</p><p class="actor">陈宝国,秦海璐,冯雷,刘桦,程煜,冯恩鹤,王晓晨,巩汉林,方清平,牛犇,石兆琪,白志迪,曹可凡,岳红,张晞临,袁姗姗,屠洪刚,陈月末,姬他,谭峰,刚毅,寒青,王晓龙,萧松原,田小洁,张可盈,曹梦格,马程程,冯瓅,曲栅栅,蔡荣</p><p class="actor">国产剧</p><p class="actor">2019/大陆</p></span><p class="other"><i>更新至37集</i></p></a>
    </li>

    <li class="p2 m1  "><a href="/guochanju/201908/64378.html" title="烈火军校" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2019-08/156551885101754548.jpg" alt="烈火军校" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">烈火军校</p><p class="actor">白鹿,许凯,李程彬,尹正</p><p class="actor">国产剧</p><p class="actor">2019/大陆</p></span><p class="other"><i>完结</i></p></a>
    </li>

    <li class="p2 m1  "><a href="/donghuapian/201907/64111.html" title="哪吒之魔童降世" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2019-07/15641263781.jpg" alt="哪吒之魔童降世" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">哪吒之魔童降世</p><p class="actor">吕艳婷,囧森瑟夫,瀚墨,陈浩,绿绮,张珈铭,杨卫</p><p class="actor">动画片</p><p class="actor">2019/大陆</p></span><p class="other"><i>HC高清版</i></p></a>
    </li>

    <li class="p2 m1 mmr0 pmr0"><a href="/guochanju/201907/64017.html" title="全职高手电视剧版" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2019-07/201907241563971125.jpg" alt="全职高手电视剧版" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">全职高手电视剧版</p><p class="actor"> 杨洋 江疏影 赖雨濛 梁译木 李沐宸 赖艺</p><p class="actor">国产剧</p><p class="actor">2019/大陆</p></span><p class="other"><i>完结</i></p></a>
    </li>

    <li class="p2 m1  "><a href="/guochandongman/201907/63818.html" title="斗破苍穹第三季" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2019-07/201907211563674659.jpg" alt="斗破苍穹第三季" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">斗破苍穹第三季</p><p class="actor"></p><p class="actor">国产动漫</p><p class="actor">2019/大陆</p></span><p class="other"><i>更新至10集</i></p></a>
    </li>

    <li class="p2 m1  "><a href="/guochanju/201908/65152.html" title="我的莫格利男孩" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2019-08/156708420609452309.jpg" alt="我的莫格利男孩" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">我的莫格利男孩</p><p class="actor">马天宇,杨紫,傅孟柏,王真儿</p><p class="actor">国产剧</p><p class="actor">2019/大陆</p></span><p class="other"><i>更新至32集</i></p></a>
    </li>

    <li class="p2 m1 mmr0 "><a href="/guochanju/201906/62517.html" title="陈情令" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2019-06/15616401227.jpg" alt="陈情令" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">陈情令</p><p class="actor">肖战 / 王一博 / 孟子义 / 宣璐 / 李若彤</p><p class="actor">国产剧</p><p class="actor">2019/大陆</p></span><p class="other"><i>完结</i></p></a>
    </li>

    <li class="p2 m1  "><a href="/ribendongman/201712/39817.html" title="海贼王" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2019-04/201904091554804565.jpg" alt="海贼王" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">海贼王</p><p class="actor">田中真弓,冈村明美,中井和哉,平田广明,山口胜平,山口由里子,大谷育江,土井美加,古川登志夫,草尾毅,大场真人</p><p class="actor">日本动漫</p><p class="actor">1999/日本</p></span><p class="other"><i>更新至902集</i></p></a>
    </li>

    <li class="p2 m1  "><a href="/guochandongman/201807/52319.html" title="西行纪" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2018-07/156460309738657638.jpg" alt="西行纪" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">西行纪</p><p class="actor">夏磊,吴磊,阿杰,沈达威</p><p class="actor">国产动漫</p><p class="actor">2018/大陆</p></span><p class="other"><i>更新到18集</i></p></a>
    </li>

    <li class="p2 m1 mmr0 pmr0"><a href="/guochanju/201908/64238.html" title="小欢喜" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2019-08/156483633036468714.jpg" alt="小欢喜" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">小欢喜</p><p class="actor">黄磊,海清,陶虹,王砚辉,咏梅,周奇,李庚希,郭子凡,刘奇,吴施乐,徐梵溪,王栎鑫,沙溢,任重</p><p class="actor">国产剧</p><p class="actor">2019/大陆</p></span><p class="other"><i>完结</i></p></a>
    </li>

    <li class="p2 m1  "><a href="/guochanju/201907/63223.html" title="亲爱的，热爱的" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2019-07/15626756121.jpg" alt="亲爱的，热爱的" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">亲爱的，热爱的</p><p class="actor">杨紫,李现,胡一天,李鸿其</p><p class="actor">国产剧</p><p class="actor">2019/大陆</p></span><p class="other"><i>完结</i></p></a>
    </li>

    <li class="p2 m1  "><a href="/dongzuopian/201906/62641.html" title="蜘蛛侠：英雄远征" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2019-06/15618271811.jpg" alt="蜘蛛侠：英雄远征" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">蜘蛛侠：英雄远征</p><p class="actor">汤姆·赫兰德/赞达亚/杰克·吉伦哈尔/寇碧·史莫德斯/塞缪尔·杰克逊/乔恩·费儒/玛丽莎·托梅/雅各布·巴特朗/安格瑞·赖斯/马丁·斯塔尔/瑞米·海依/纽</p><p class="actor">动作片</p><p class="actor">2019/美国</p></span><p class="other"><i>正片</i></p></a>
    </li>

    <li class="p2 m1 mmr0 "><a href="/guochanju/201908/64729.html" title="外星女生柴小七" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2019-08/156623340286548673.jpg" alt="外星女生柴小七" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">外星女生柴小七</p><p class="actor">徐志贤,万鹏,杨玥,王宥钧,书亚信,王皓祯</p><p class="actor">国产剧</p><p class="actor">2019/大陆</p></span><p class="other"><i>更新至20集</i></p></a>
    </li>

    <li class="p2 m1  "><a href="/ribendongman/201904/58682.html" title="鬼灭之刃" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2019-04/15546064411.jpg" alt="鬼灭之刃" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">鬼灭之刃</p><p class="actor">花江夏树,鬼头明里,下野纮,松冈祯丞,樱井孝宏,大塚芳忠,梶裕贵,加隈亚衣,冈本信彦,森川智之,悠木碧,井泽诗织,浪川大辅,山崎巧,绿川光,子安武人</p><p class="actor">日本动漫</p><p class="actor">2019/日本</p></span><p class="other"><i>更新至24集</i></p></a>
    </li>

    <li class="p2 m1  "><a href="/guochanju/201908/64803.html" title="善始善终" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2019-08/156641033453833641.jpg" alt="善始善终" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">善始善终</p><p class="actor">秦俊杰,孙铱,薛皓文,尹子维,李坤霖,王永泉,汤镇业,邹敦明,杜玉明,田昊,李培铭,李少亭,林威,王博,田璐,支一</p><p class="actor">国产剧</p><p class="actor">2019/大陆</p></span><p class="other"><i>更新至40集</i></p></a>
    </li>

    <li class="p2 m1 mmr0 pmr0"><a href="/ribendongman/201712/32802.html" title="火影忍者" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2019-04/201904091554804826.jpg" alt="火影忍者" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">火影忍者</p><p class="actor">竹内顺子,杉山纪彰,中村千绘,井上和彦,关俊彦,松本和香子,大塚芳忠,胜生真沙子</p><p class="actor">日本动漫</p><p class="actor">2002/日本</p></span><p class="other"><i>完结</i></p></a>
    </li>


</ul>
 </div>

 <div class="index-tj-r">
 <h2 class="title index-color">2019大片精选</h2><ul>

 <li><a href="/dongzuopian/201909/65964.html" title="卧虎悍将" target="_blank"><span class="bz"></span><gm  class="gs"  > 01</gm><span class="az">卧虎悍将</span></a></li>

 <li><a href="/dongzuopian/201909/65734.html" title="极限逃生" target="_blank"><span class="bz"></span><gm  class="gs"  > 02</gm><span class="az">极限逃生</span></a></li>

 <li><a href="/dongzuopian/201909/65955.html" title="筒子楼超人" target="_blank"><span class="bz">HD</span><gm  class="gs"  > 03</gm><span class="az">筒子楼超人</span></a></li>

 <li><a href="/dongzuopian/201909/65954.html" title="孤胆追踪者" target="_blank"><span class="bz">HD</span><gm  > 04</gm><span class="az">孤胆追踪者</span></a></li>

 <li><a href="/dongzuopian/201909/65942.html" title="佐罗传奇" target="_blank"><span class="bz">BD</span><gm  > 05</gm><span class="az">佐罗传奇</span></a></li>

 <li><a href="/dongzuopian/201712/23594.html" title="公元2000" target="_blank"><span class="bz">HD</span><gm  > 06</gm><span class="az">公元2000</span></a></li>

 <li><a href="/dongzuopian/201712/20779.html" title="僵尸世界大战" target="_blank"><span class="bz">BD中英双字</span><gm  > 07</gm><span class="az">僵尸世界大战</span></a></li>

 <li><a href="/dongzuopian/201909/65923.html" title="斩、" target="_blank"><span class="bz">HD</span><gm  > 08</gm><span class="az">斩、</span></a></li>

 <li><a href="/dongzuopian/201712/3377.html" title="卡特教练" target="_blank"><span class="bz">HD高清</span><gm  > 09</gm><span class="az">卡特教练</span></a></li>

 <li><a href="/dongzuopian/201909/65903.html" title="诛仙 Ⅰ" target="_blank"><span class="bz">TC清晰</span><gm  >10</gm><span class="az">诛仙 Ⅰ</span></a></li>

 <li><a href="/dongzuopian/201909/65910.html" title="昨日女孩" target="_blank"><span class="bz">HD720P</span><gm  >11</gm><span class="az">昨日女孩</span></a></li>

 <li><a href="/dongzuopian/201909/65890.html" title="信条" target="_blank"><span class="bz"></span><gm  >12</gm><span class="az">信条</span></a></li>

 <li><a href="/dongzuopian/201909/65894.html" title="征途" target="_blank"><span class="bz"></span><gm  >13</gm><span class="az">征途</span></a></li>

 <li><a href="/dongzuopian/201909/65898.html" title="传话的人" target="_blank"><span class="bz"></span><gm  >14</gm><span class="az">传话的人</span></a></li>

 <li><a href="/dongzuopian/201909/65899.html" title="斩手指" target="_blank"><span class="bz"></span><gm  >15</gm><span class="az">斩手指</span></a></li>

</ul>
</div>
</div>

	<div class="index-area clearfix">
    <h2 class="title index-color">
      <a href="/vod-type-id-1-pg-1.html" title="最新电影" target="_self">最新电影</a>
	  </h2>
    <ul>


    <li class="p1 m1"><a href="/dongzuopian/201909/65964.html" title="卧虎悍将" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2019-09/156860880376966266.jpg" alt="卧虎悍将" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">卧虎悍将</p><p class="actor">户国防,张立,孙蛟龙,张亚奇,周建许</p><p class="actor">动作片</p><p class="actor">2019/</p></span><p class="other"><i></i></p></a>
    </li>

    <li class="p1 m1"><a href="/juqingpian/201907/63523.html" title="狮子王2019" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2019-07/15631751141.jpg" alt="狮子王2019" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">狮子王2019</p><p class="actor">唐纳德·格洛弗,阿尔法·伍达德,詹姆斯·厄尔·琼斯,切瓦特·埃加福特,科甘-迈克尔·凯,塞斯·罗根,比利·艾希纳,碧昂丝·诺尔斯,埃里克·安德烈,弗洛伦丝·卡松巴,约翰·卡尼,约翰·奥利弗,艾米·塞德丽丝</p><p class="actor">剧情片</p><p class="actor">2019/美国</p></span><p class="other"><i>HD</i></p></a>
    </li>

    <li class="p1 m1"><a href="/dongzuopian/201909/65734.html" title="极限逃生" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2019-09/156818760313876790.jpg" alt="极限逃生" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">极限逃生</p><p class="actor">林允儿,曹政奭</p><p class="actor">动作片</p><p class="actor">2019/韩国</p></span><p class="other"><i></i></p></a>
    </li>

    <li class="p1 m1"><a href="/juqingpian/201909/65963.html" title="诡心墨" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2019-09/156860880611165245.jpg" alt="诡心墨" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">诡心墨</p><p class="actor">李浩修,宗一童</p><p class="actor">剧情片</p><p class="actor">2019/中国大陆</p></span><p class="other"><i></i></p></a>
    </li>

    <li class="p1 m1"><a href="/dongzuopian/201909/65955.html" title="筒子楼超人" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2019-09/156855240218512529.jpg" alt="筒子楼超人" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">筒子楼超人</p><p class="actor">刘道玄,郭欣婷</p><p class="actor">动作片</p><p class="actor">2019/大陆</p></span><p class="other"><i>HD</i></p></a>
    </li>

    <li class="p1 m1"><a href="/xijupian/201909/65947.html" title="光盲青春" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2019-09/156854220266445449.jpg" alt="光盲青春" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">光盲青春</p><p class="actor">海莉·阿特维尔,维韦克·卡拉,莎莉·菲利普斯,艾伦·菲格拉,迪恩·查尔斯·查普曼,内尔·威廉姆斯,罗伯·布莱顿,文森特·阿德里安,保罗·布莱克维尔,约诺·戴维斯,奥利维亚·波莉,乔·惠特利,贾格·帕特尔,史蒂芬·萨姆森,阿图尔·夏尔马,阿什克·阿赫塔尔</p><p class="actor">喜剧片</p><p class="actor">2019/英国</p></span><p class="other"><i>HD</i></p></a>
    </li>

    <li class="p1 m1"><a href="/aiqingpian/201909/65946.html" title="你在月夜里闪耀光辉" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2019-09/156854220286067497.jpg" alt="你在月夜里闪耀光辉" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">你在月夜里闪耀光辉</p><p class="actor">永野芽郁,北村匠海,甲斐翔真,松本穗香,今田美樱,优香,生田智子,长谷川京子,及川光博</p><p class="actor">爱情片</p><p class="actor">2019/日本</p></span><p class="other"><i>HD</i></p></a>
    </li>

    <li class="p1 m1"><a href="/donghuapian/201906/62233.html" title="玩具总动员4" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2019-06/15611206596.jpg" alt="玩具总动员4" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">玩具总动员4</p><p class="actor">汤姆·汉克斯 / 蒂姆·艾伦 / 安妮·波茨 / 托尼·海尔 / 科甘-迈克尔·凯 / 玛德琳·麦格劳 / 克里斯蒂娜·亨德里克斯 / 乔丹·皮尔 / 基努·里维斯 / 松村艾丽 / 杰伊·埃尔南德斯 / 罗里·艾伦 / 琼·库萨克 / 邦尼·亨特 / 克里斯汀·沙尔 / 华莱士·肖恩 / 约翰·拉岑贝格 / 布莱克·克拉克 / 琼·斯奎布 / 卡尔·韦瑟斯 / 唐·里克斯 / 杰夫·格尔林 / 朱莉安娜·汉森 / 爱丝黛儿·哈里斯 / 劳里·梅特卡夫 / 史蒂夫·波赛尔 / 梅尔·布鲁克斯 / 艾伦·欧</p><p class="actor">动画片</p><p class="actor">2019/美国</p></span><p class="other"><i>HD</i></p></a>
    </li>

    <li class="p1 m1"><a href="/xijupian/201909/65826.html" title="小小的愿望" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2019-09/156831600214051725.jpg" alt="小小的愿望" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">小小的愿望</p><p class="actor">彭昱畅,王大陆,魏大勋,曾梦雪,贾冰,岳旸,李歌</p><p class="actor">喜剧片</p><p class="actor">2019/大陆</p></span><p class="other"><i>TC国语中字</i></p></a>
    </li>

    <li class="p1 m1"><a href="/juqingpian/201909/65932.html" title="小丑" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2019-09/156852780379388757.jpg" alt="小丑" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">小丑</p><p class="actor">杰昆·菲尼克斯,罗伯特·德尼罗,莎姬·贝兹,布莱恩·考伦</p><p class="actor">剧情片</p><p class="actor">2019/美国</p></span><p class="other"><i>预告片</i></p></a>
    </li>

    <li class="p1 m1"><a href="/xijupian/201909/65843.html" title="逗爱熊仁镇" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2019-09/156836820230905852.jpg" alt="逗爱熊仁镇" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">逗爱熊仁镇</p><p class="actor">朱亚文,张榕容,王亮,郄路通,韩彦博,卢野,钱波,王旭峰,多布杰,刘十六</p><p class="actor">喜剧片</p><p class="actor">2019/大陆</p></span><p class="other"><i>HD1280</i></p></a>
    </li>

    <li class="p1 m1"><a href="/juqingpian/201909/65928.html" title="完美的他人之秘密交换" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2019-09/156849060228002020.jpg" alt="完美的他人之秘密交换" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">完美的他人之秘密交换</p><p class="actor">신성훈,지혜,수지</p><p class="actor">剧情片</p><p class="actor">2019/韩国</p></span><p class="other"><i>HD</i></p></a>
    </li>


    </ul>
    </div>


	<div class="index-area clearfix">
    <h2 class="title index-color">
      <a href="/vod-type-id-2-pg-1.html" title="最新电视剧" target="_self">最新电视剧</a>
	  </h2>
    <ul>


    <li class="p1 m1"><a href="/rihanju/201903/57964.html" title="世界上最美丽的我的女儿" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2019-03/15533950151.jpg" alt="世界上最美丽的我的女儿" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">世界上最美丽的我的女儿</p><p class="actor">柳善,金素妍,金夏景,洪宗玄</p><p class="actor">日韩剧</p><p class="actor">2019/韩国</p></span><p class="other"><i>更新至104集</i></p></a>
    </li>

    <li class="p1 m1"><a href="/guochanju/201908/65007.html" title="遇见幸福" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2019-08/156689226229213747.jpg" alt="遇见幸福" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">遇见幸福</p><p class="actor">蒋欣,李光洁,郭京飞,刘孜,刘佩琦,钱芳</p><p class="actor">国产剧</p><p class="actor">2019/大陆</p></span><p class="other"><i>更新至34集</i></p></a>
    </li>

    <li class="p1 m1"><a href="/guochanju/201908/65006.html" title="遇见幸福DVD版" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2019-08/156689226248099421.jpg" alt="遇见幸福DVD版" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">遇见幸福DVD版</p><p class="actor">蒋欣,李光洁,郭京飞,刘孜,刘佩琦,钱芳</p><p class="actor">国产剧</p><p class="actor">2019/大陆</p></span><p class="other"><i>更新至31集</i></p></a>
    </li>

    <li class="p1 m1"><a href="/guochanju/201908/65018.html" title="伟大的转折" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2019-08/156689224860993285.jpg" alt="伟大的转折" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">伟大的转折</p><p class="actor">侯京健,马晓伟,许敏,王韦智</p><p class="actor">国产剧</p><p class="actor">2019/大陆</p></span><p class="other"><i>更新至30集</i></p></a>
    </li>

    <li class="p1 m1"><a href="/rihanju/201908/64787.html" title="所以我就推你了" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2019-08/156641033851996480.jpg" alt="所以我就推你了" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">所以我就推你了</p><p class="actor">樱井由纪 Yuki Sakurai,白石圣 Sei Shiraishi,细田善彦,松田流花,笠原秀幸,田中珠里,松川星,天木纯,泽部佑,村杉蝉之介</p><p class="actor">日韩剧</p><p class="actor">2019/日本</p></span><p class="other"><i>完结</i></p></a>
    </li>

    <li class="p1 m1"><a href="/rihanju/201908/64547.html" title="嘻哈王" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2019-08/156571800368558220.jpg" alt="嘻哈王" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">嘻哈王</p><p class="actor">李浩沅,申原昊,李娜恩,한현민（Hyun Min）,金英玉,刘瑞真,朴努植,주원탁（Joo Won Tak）,崔惟理,구다송（Gu Da Song）</p><p class="actor">日韩剧</p><p class="actor">2019/韩国</p></span><p class="other"><i>更新至06集</i></p></a>
    </li>

    <li class="p1 m1"><a href="/rihanju/201909/65638.html" title="阿斯达年代记" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2019-09/156801420157419480.jpg" alt="阿斯达年代记" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">阿斯达年代记</p><p class="actor">宋仲基,张东健,金智媛,金玉彬</p><p class="actor">日韩剧</p><p class="actor">2019/韩国</p></span><p class="other"><i>更新至16集</i></p></a>
    </li>

    <li class="p1 m1"><a href="/guochanju/201909/65956.html" title="空降利刃" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2019-09/156855240195418503.jpg" alt="空降利刃" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">空降利刃</p><p class="actor">贾乃亮,邢佳栋,李纯,张赫,刘峰超,王韬,陈方舟,庄小龙</p><p class="actor">国产剧</p><p class="actor">2019/大陆</p></span><p class="other"><i>更新至2集</i></p></a>
    </li>

    <li class="p1 m1"><a href="/oumeiju/201908/65180.html" title="皮尔森/皮尔逊" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2019-08/156709980375417280.jpg" alt="皮尔森/皮尔逊" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">皮尔森/皮尔逊</p><p class="actor">吉娜·托瑞斯,西蒙·卡斯安德斯,贝瑟妮·乔伊·盖里奥迪,切特尔·里雷</p><p class="actor">欧美剧</p><p class="actor">2019/美国</p></span><p class="other"><i>更新至09集</i></p></a>
    </li>

    <li class="p1 m1"><a href="/guochanju/201909/65461.html" title="欢喜盈门" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2019-09/156762000157152064.jpg" alt="欢喜盈门" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">欢喜盈门</p><p class="actor">潘长江,赵达,王翊丹,于莉红</p><p class="actor">国产剧</p><p class="actor">2019/大陆</p></span><p class="other"><i>更新到22集</i></p></a>
    </li>

    <li class="p1 m1"><a href="/rihanju/201907/63119.html" title="暗芝居第七季" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2019-07/15625525151.jpg" alt="暗芝居第七季" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">暗芝居第七季</p><p class="actor">津田宽治,村井良大,吉村駿作,篠田諒</p><p class="actor">日韩剧</p><p class="actor">2019/日本</p></span><p class="other"><i>更新至11集</i></p></a>
    </li>

    <li class="p1 m1"><a href="/guochanju/201908/64995.html" title="陆战之王" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2019-08/156684600122655109.jpg" alt="陆战之王" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">陆战之王</p><p class="actor">陈晓,王雷,吴樾,张雅钦</p><p class="actor">国产剧</p><p class="actor">2019/大陆</p></span><p class="other"><i>更新至38集</i></p></a>
    </li>


    </ul>
    </div>




	<div class="index-area clearfix">
    <h2 class="title index-color">
      <a href="/vod-type-id-3-pg-1.html" title="最新综艺" target="_self">最新综艺</a>
	  </h2>
    <ul>


    <li class="p1 m1"><a href="/zongyi/201809/53166.html" title="我就是演员" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2018-09/156460282879833052.jpg" alt="我就是演员" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">我就是演员</p><p class="actor">章子怡,徐峥,吴秀波,陈凯歌</p><p class="actor">综艺</p><p class="actor">2018/大陆</p></span><p class="other"><i>20181208期</i></p></a>
    </li>

    <li class="p1 m1"><a href="/zongyi/201909/65331.html" title="天天向上[2019]" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2019-09/156736140168413412.jpg" alt="天天向上[2019]" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">天天向上[2019]</p><p class="actor">汪涵,欧弟,俞灏明,矢野浩二</p><p class="actor">综艺</p><p class="actor">2019/大陆</p></span><p class="other"><i>20190915期</i></p></a>
    </li>

    <li class="p1 m1"><a href="/zongyi/201901/55968.html" title="MIT台湾志" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2019-01/156465894464146685.jpg" alt="MIT台湾志" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">MIT台湾志</p><p class="actor"></p><p class="actor">综艺</p><p class="actor">2019/台湾</p></span><p class="other"><i>20190915期</i></p></a>
    </li>

    <li class="p1 m1"><a href="/zongyi/201905/60325.html" title="食尚玩家欢乐有够赞" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2019-05/15576639621.jpg" alt="食尚玩家欢乐有够赞" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">食尚玩家欢乐有够赞</p><p class="actor"></p><p class="actor">综艺</p><p class="actor">2019/台湾</p></span><p class="other"><i>20190914期</i></p></a>
    </li>

    <li class="p1 m1"><a href="/zongyi/201807/51939.html" title="大陆寻奇" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2018-07/156460333079372359.jpg" alt="大陆寻奇" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">大陆寻奇</p><p class="actor">熊旅扬</p><p class="actor">综艺</p><p class="actor">1990/台湾</p></span><p class="other"><i>20190915</i></p></a>
    </li>

    <li class="p1 m1"><a href="/zongyi/201802/48890.html" title="蒙面歌王" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2018-02/156463183243468777.jpg" alt="蒙面歌王" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">蒙面歌王</p><p class="actor">金叡园/申宝拉/金九拉/洪恩熙/金亨石/池尚烈/金成柱</p><p class="actor">综艺</p><p class="actor">2015/韩国</p></span><p class="other"><i>20190915</i></p></a>
    </li>

    <li class="p1 m1"><a href="/zongyi/201804/50756.html" title="Running Man" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2018-04/156460378350358462.jpg" alt="Running Man" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">Running Man</p><p class="actor"></p><p class="actor">综艺</p><p class="actor">2010/韩国</p></span><p class="other"><i>更新至190908期</i></p></a>
    </li>

    <li class="p1 m1"><a href="/zongyi/201906/61946.html" title="神奇的汉字" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2019-06/156067864413.jpg" alt="神奇的汉字" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">神奇的汉字</p><p class="actor">何炅,仝卓,胡一天</p><p class="actor">综艺</p><p class="actor">2019/大陆</p></span><p class="other"><i>更新至190915期</i></p></a>
    </li>

    <li class="p1 m1"><a href="/zongyi/201907/64235.html" title="我家小两口 VIP加长版" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2019-07/201907291564402797.jpg" alt="我家小两口 VIP加长版" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">我家小两口 VIP加长版</p><p class="actor"></p><p class="actor">综艺</p><p class="actor">2019/大陆</p></span><p class="other"><i>更新至20190910</i></p></a>
    </li>

    <li class="p1 m1"><a href="/zongyi/201907/63124.html" title="我家小两口小两口的秘密" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2019-07/201907081562553855.jpg" alt="我家小两口小两口的秘密" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">我家小两口小两口的秘密</p><p class="actor"></p><p class="actor">综艺</p><p class="actor">2019/大陆</p></span><p class="other"><i>更新至20190915</i></p></a>
    </li>

    <li class="p1 m1"><a href="/zongyi/201902/56882.html" title="非你莫属[2019]" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2019-02/156459992552056196.png" alt="非你莫属[2019]" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">非你莫属[2019]</p><p class="actor"></p><p class="actor">综艺</p><p class="actor">2010/大陆</p></span><p class="other"><i>20190915期</i></p></a>
    </li>

    <li class="p1 m1"><a href="/zongyi/201908/64532.html" title="中国达人秀第六季" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2019-08/156568860180049834.jpg" alt="中国达人秀第六季" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">中国达人秀第六季</p><p class="actor">赵薇,苏有朋,刘烨,王伟忠</p><p class="actor">综艺</p><p class="actor">2019/大陆</p></span><p class="other"><i>20190915期</i></p></a>
    </li>

    </ul>
    </div>

	<div class="index-area clearfix">
    <h2 class="title index-color">
      <a href="/vod-type-id-4-pg-1.html" title="最新动漫" target="_self">最新动漫</a>
	  </h2>
    <ul>


    <li class="p1 m1"><a href="/guochandongman/201908/64903.html" title="斗罗大陆" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2018-01/156463206966589138.jpg" alt="斗罗大陆" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">斗罗大陆</p><p class="actor">沈磊,程玉珠,黄翔宇,王肖兵,倪康,赵乾景,吴磊,张琦,秦紫翼</p><p class="actor">国产动漫</p><p class="actor">2018/大陆</p></span><p class="other"><i>更新至69集</i></p></a>
    </li>

    <li class="p1 m1"><a href="/ribendongman/201907/63031.html" title="海盗战记" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2019-07/15624650738.jpg" alt="海盗战记" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">海盗战记</p><p class="actor">石上静香,上村祐翔,松田健一郎,内田直哉,小野贤章,大塚明夫,安元洋贵,斧敦,上田耀司,高梁碧,生天目仁美,浦山迅,日野聪,竹内良太,菅生隆之,后藤弘树,高桥伸也,古川慎,市来光弘,下山吉光</p><p class="actor">日本动漫</p><p class="actor">2019/日本</p></span><p class="other"><i>更新至10集</i></p></a>
    </li>

    <li class="p1 m1"><a href="/ribendongman/201907/63115.html" title="擅长捉弄的高木同学第二季" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2019-07/15625145173.jpg" alt="擅长捉弄的高木同学第二季" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">擅长捉弄的高木同学第二季</p><p class="actor">高桥李依,梶裕贵,小原好美,市道真央,小仓唯,内田雄马,小岩井小鸟,冈本信彦,落合福嗣,内山昂辉,悠木碧,田所阳向</p><p class="actor">日本动漫</p><p class="actor">2019/日本</p></span><p class="other"><i>更新至11集</i></p></a>
    </li>

    <li class="p1 m1"><a href="/ribendongman/201712/45588.html" title="白色相簿" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2017-12/156463421794029180.jpg" alt="白色相簿" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">白色相簿</p><p class="actor">平野绫,水树奈奈,前野智昭</p><p class="actor">日本动漫</p><p class="actor">2009/日本</p></span><p class="other"><i>完结</i></p></a>
    </li>

    <li class="p1 m1"><a href="/guochandongman/201812/55811.html" title="斗罗大陆2 绝世唐门 荣耀篇 动态漫画" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2018-12/156460170612337442.jpg" alt="斗罗大陆2 绝世唐门 荣耀篇 动态漫画" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">斗罗大陆2 绝世唐门 荣耀篇 动态漫画</p><p class="actor">山新/小连杀</p><p class="actor">国产动漫</p><p class="actor">2018/大陆</p></span><p class="other"><i>更新至44集</i></p></a>
    </li>

    <li class="p1 m1"><a href="/ribendongman/201904/58682.html" title="鬼灭之刃" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2019-04/15546064411.jpg" alt="鬼灭之刃" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">鬼灭之刃</p><p class="actor">花江夏树,鬼头明里,下野纮,松冈祯丞,樱井孝宏,大塚芳忠,梶裕贵,加隈亚衣,冈本信彦,森川智之,悠木碧,井泽诗织,浪川大辅,山崎巧,绿川光,子安武人</p><p class="actor">日本动漫</p><p class="actor">2019/日本</p></span><p class="other"><i>更新至24集</i></p></a>
    </li>

    <li class="p1 m1"><a href="/qitadongman/201909/65970.html" title="军火女王第二季" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2019-09/156860940371181767.jpg" alt="军火女王第二季" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">军火女王第二季</p><p class="actor">伊藤静 , 田村睦心 , 石塚運昇 , 大原さやか , 箭内仁 , 乃村健次 , 四宮豪 , 羽多野涉 , 勝沼紀義</p><p class="actor">其他动漫</p><p class="actor">2012/日本</p></span><p class="other"><i>完结</i></p></a>
    </li>

    <li class="p1 m1"><a href="/qitadongman/201909/65969.html" title="军火女王第一季" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2019-09/156860940699577948.jpg" alt="军火女王第一季" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">军火女王第一季</p><p class="actor">伊藤静,田村睦心,石塚運昇,大原さやか,箭内仁,乃村健次,四宮豪,羽多野涉,勝沼紀義</p><p class="actor">其他动漫</p><p class="actor">2012/日本</p></span><p class="other"><i>完结</i></p></a>
    </li>

    <li class="p1 m1"><a href="/qitadongman/201909/65967.html" title="高中舰队" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2019-09/156860941236633561.jpg" alt="高中舰队" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">高中舰队</p><p class="actor">夏川椎菜,雨宫天,Lynn,古木のぞみ,种崎敦美,澤田美晴,菊地瞳,田中美海,丸山有香,田边留依,中村桜,久保由利香,五月ちさと,大地叶,宮島えみ,山下七海,藤</p><p class="actor">其他动漫</p><p class="actor">2016/日本</p></span><p class="other"><i>完结</i></p></a>
    </li>

    <li class="p1 m1"><a href="/ribendongman/201802/48496.html" title="反叛的鲁路修" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2018-02/156463196004818139.jpg" alt="反叛的鲁路修" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">反叛的鲁路修</p><p class="actor">福山润/樱井孝宏/野上尤加奈/小清水亚美/南央美/名塚佳织/井上喜久子/真殿光昭/加濑康之/大原沙耶香/皆川纯子/折笠富美子/千叶纱子/杉山纪彰/若本规夫</p><p class="actor">日本动漫</p><p class="actor">2006/日本</p></span><p class="other"><i>25集全</i></p></a>
    </li>

    <li class="p1 m1"><a href="/guochandongman/201712/31497.html" title="聪明的顺溜之特殊任务" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2017-12/156465162381285204.jpg" alt="聪明的顺溜之特殊任务" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">聪明的顺溜之特殊任务</p><p class="actor">李正翔,王晓彤,胡谦,翟巍</p><p class="actor">国产动漫</p><p class="actor">2017/大陆</p></span><p class="other"><i>完结</i></p></a>
    </li>

    <li class="p1 m1"><a href="/ribendongman/201907/63113.html" title="中之人基因组[实况中]" class="link-hover" target="_blank"><img data-original="https://cdn.aqdstatic.com:966/88ys/upload/vod/2019-07/15625099511.jpg" alt="中之人基因组[实况中]" src="/images/npimg.jpg" class="lazy"><span class="video-bg"></span><span class="lzbz"><p class="name">中之人基因组[实况中]</p><p class="actor">山下大辉,鬼头明里,佐藤拓也,畠中祐,内山昂辉,石见舞菜香,寺岛拓笃,名塚佳织,津田健次郎</p><p class="actor">日本动漫</p><p class="actor">2019/日本</p></span><p class="other"><i>更新至11集</i></p></a>
    </li>

    </ul>
    </div>

</div>
</div>
</div>
<div class="footer clearfix">
<div class="ylink clearfix">
友情连接：

    <a href="https://donghua.agefans.com" title="age动漫" target="_blank">age动漫</a>

    <a href="https://www.zymk.cn/" title="漫画大全" target="_blank">漫画大全</a>

    <a href="http://www.yyy6080.com/" title="新视觉影院" target="_blank">新视觉影院</a>

    <a href="https://www.ywtx.cc/" title="电视剧全集" target="_blank">电视剧全集</a>

</div>
<p>本站所有最新电影资源均来自互联网及网友上传，本站只提供免费在线观看，仅供网吧及个人用户测试带宽使用，版权归原电影公司所有。有问题可发邮件到 88yscc#gmail.com(请将#换成@)</p>
<p>Copyright @ 2019 88影视网 - www.88ys.cc. All Rights Reserved</p>
</div>
<script type="text/javascript" src="https://cdn.staticfile.org/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>
<script type="text/javascript" src="/template/pc88ysw/ads/pctj.js"></script>
</body>
</html>